<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Contact</h5>
      <p class="grey-text text-lighten-4">E-mail:&nbsp;
        <a href="mailto:mitsuhiro.komuro@gmail.com" class="white-text">mitsuhiro.komuro@gmail.com</a>
      </p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a href="https:/danboruya.github.io" class="waves-efect waves-light white-text">Portfolio</a></li>
        <li>
          <a href="https://github.com/Danboruya" class="waves-efect waves-light white-text">
            <i class="fab fa-github"></i>&nbsp;&nbsp;GitHub
          </a>
        </li>
        <li>
          <a href="https://twitter.com/danboruya" class="waves-efect waves-light white-text">
            <i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/komuro.mitsuhiro.5" class="waves-efect waves-light white-text">
            <i class="fab fa-facebook"></i>&nbsp;&nbsp;Facebook
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    &copy; 2019 Mitsuhiro Komuro ALL RIGHTS RESERVED.
  </div>
</div>