<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" data-target="slide-out" class="button-collapse sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <a href="{{ site.url }}" class="brand-logo hide-on-med-and-down">Research and Development Blog</a>
      <a href="{{ site.url }}" class="brand-logo hide-on-large-only">R and D Blog</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https:/danboruya.github.io" class="waves-efect waves-light">Portfolio</a></li>
        <li><a href="https://github.com/Danboruya" class="waves-efect waves-light"><i class="fab fa-github left"></i>GitHub</a></li>
        <li><a href="https://twitter.com/danboruya" class="waves-efect waves-light"><i class="fab fa-twitter left"></i>Twitter</a></li>
        <li><a href="https://www.facebook.com/komuro.mitsuhiro.5" class="waves-efect waves-light"><i class="fab fa-facebook left"></i>Facebook</a></li>
        <!--<li><a href="" class="waves-efect waves-light"><i class="fab fa-medium left"></i>Medium</a></li>-->
      </ul>
    </div>
  </nav>
</div>
<aside>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="background">
          <img src="{{site.url}}/assets/images/background.png" alt="background" width="300" height="176">
        </div>
        <span>
          <img src="{{site.url}}/assets/images/ghocat.png" class="circle" alt="icon">
        </span>
        <span class="white-text name">
          Mitsuhiro Komuro
        </span>
        <span class="white-text email">
          mitsuhiro.komuro@gmail.com
        </span>
    </div></li>
    <li><a href="https:/danboruya.github.io" class="waves-efect waves-light">Portfolio</a></li>
    <li><a href="{{ site.url }}" class="waves-efect waves-light">Research and Development Blog</a></li>
    <div class="divider"></div>
    <li><a href="https://github.com/Danboruya" class="waves-efect waves-light"><i class="fab fa-github left"></i>GitHub</a></li>
    <li><a href="https://twitter.com/danboruya" class="waves-efect waves-light"><i class="fab fa-twitter left"></i>Twitter</a></li>
    <li><a href="https://www.facebook.com/komuro.mitsuhiro.5" class="waves-efect waves-light"><i class="fab fa-facebook left"></i>Facebook</a></li>
  </ul>
</aside>